<header class="site-header">
    <div class="container">
        <a id="site-header-brand" href="/" title="{{ site.name }}">
            <span class="octicon octicon-mark-github"></span> {{ site.name }}
        </a>
<!--        hvr-underline-from-center-->
        <nav class="site-header-nav" role="navigation">
            {% for nav in site.navs %}
            <div class="site-header-nav-item">
                <a href="{{ nav.href }}"
                   target="{{ nav.target | default: _self }}"
                   title="{{ nav.label }}"
                >
                    {{ nav.label }}
                </a>
                {% if nav.titles != null %}
                    <ul class="submenu">
                        {% for title in nav.titles %}
                        <li><a href="{{ title.ref }}" target="_blank"> {{ title.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {% endfor %}
        </nav>
    </div>
</header>
